@model IEnumerable<AirportTrafficControlTower.Data.Model.Station>
<link rel="stylesheet" href="~/css/stationStatus.css" asp-append-version="true" />
@{
    ViewData["Title"] = "GetAllStationsStatus";
}
<script type="text/javascript">
    $(document).ready(function(){
        setInterval(function(){
            $.ajax({
                type: 'Get',
                url: '@Url.Action("LoadStations")',
                dataType: 'json',
                contentType: "application/json;charset=utf-8",
                success: function(response) {
                    $.each(response.stationList, function(index, station){
                            $(".flightInStation:eq("+index+")").html(station.occupiedBy);

                    });
                },
                error: function(response) {
                    debugger;
                    alert('error');
                }
            });
        }, 1000);
    });

</script>

<p>
    <a class="btn btn-sm btn-outline-secondary" asp-action="AddFlight">Add Flight</a>
</p>
<div class="d-flex justify-content-center">
    <div class="d-flex flex-wrap justify-content-between col-8">
        @foreach (var item in Model)
        {
            var className = "bi bi-" + @item.StationNumber + "-square-fill";
            var flight = @item.OccupiedBy;
            <div class="card station">
                <div class="card-header d-flex justify-content-center">
                    @*<i class="bi bi-1-square-fill"></i>*@
                    <i class="@className"></i>
                </div>
                <div class="card-body">
                    <p class="card-text">Flight in station:</p>
                    <p class="card-text flightInStation">@flight</p>
                </div>
            </div>
        }
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OccupiedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="tableLine">
                <td>
                    @Html.DisplayFor(modelItem => item.StationNumber)
                </td>
                <td class="occupyLine">
                    @Html.DisplayFor(modelItem => item.OccupiedBy)
                </td>
            </tr>
        }
    </tbody>
</table>
