@model IEnumerable<AirportTrafficControlTower.Data.Model.Station>
<script type="text/javascript">
    $(document).ready(function(){
        $('.occupyLine').html("test1");
        setInterval(function(){
            $.ajax({
                type: 'Get',
                url: '@Url.Action("LoadStations")',
                dataType: 'json',
                contentType: "application/json;charset=utf-8",
                success: function(response) {
                    $.each(response.stationList, function(index, station){
                        console.log(station.occupiedBy);
                        console.log(index);
                        $(".occupyLine:eq("+index+")").html(station.occupiedBy);
                    });



                    //console.log(response);
                    //console.log(response.stationList);
                    //console.log(response.stationList[3]);
                    //console.log(response.stationList[3].occupiedBy);
                },
                error: function(response) {
                    debugger;
                    alert('error');
                }
            });
        }, 5000);
    });

</script>
@{
    ViewData["Title"] = "GetAllStationsStatus";
}

<h1>GetAllStationsStatus</h1>

<div class="testDiv">
    <div>hello</div>
    <h1>TestText</h1>
</div>
<p>
    <a class="btn btn-sm btn-outline-secondary" asp-action="AddFlight">Add Flight</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OccupiedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="tableLine">
                <td>
                    @Html.DisplayFor(modelItem => item.StationNumber)
                </td>
                <td class="occupyLine">
                    @Html.DisplayFor(modelItem => item.OccupiedBy)
                </td>
            </tr>
        }
    </tbody>
</table>
