@model IEnumerable<AirportTrafficControlTower.Data.Model.StationStatus>
<link rel="stylesheet" href="~/css/stationStatus.css" asp-append-version="true" />
@{
    ViewData["Title"] = "GetAllStationsStatus";
}
<script type="text/javascript">
    $(document).ready(function(){
        $("#addAsc").click(function () {
                 $.ajax({
                     url: '@Url.Action("AddNewFlight")',
                     type: 'POST',
                     dataType: 'json',
                     data: {"isAsc": true},
                     success: function (data, textStatus, xhr) {
                         console.log("success");
                     },
                     error: function (xhr, textStatus, errorThrown) {
                         console.log('Error in Operation');
                     }
                 });
             });
             $("#addDesc").click(function () {
                 $.ajax({
                     url: '@Url.Action("AddNewFlight")',
                     type: 'POST',
                     dataType: 'json',
                     data: {"isAsc": false},
                     success: function (data, textStatus, xhr) {
                         console.log("success");
                     },
                     error: function (xhr, textStatus, errorThrown) {
                         console.log('Error in Operation');
                     }
                 });
             });
        setInterval(function(){

            $.ajax({
                type: 'Get',
                url: '@Url.Action("LoadStations")',
                dataType: 'json',
                contentType: "application/json;charset=utf-8",
                success: function(response) {
                    $.each(response.stationStatusList, function(index, stationStatus){
                        $(".flightInStation:eq("+index+")").html(stationStatus.flightInStation);
                        $(".stationBody i:eq("+index+")").removeClass('fa-plane-circle-xmark').
                            removeClass('fa-plane-departure').
                            removeClass('fa-plane-arrival');
                            $(".station .card-header:eq("+index+")").css("background-color", "green");
                        if(stationStatus.isAscending==null){
                            $(".stationBody i:eq("+index+")").addClass('fa-plane-circle-xmark');
                        }
                        else if(stationStatus.isAscending){
                            $(".stationBody i:eq("+index+")").addClass('fa-plane-departure');
                            $(".station .card-header:eq("+index+")").css("background-color", "red");
                        }
                        else{
                            $(".stationBody i:eq("+index+")").addClass('fa-plane-arrival');
                            $(".station .card-header:eq("+index+")").css("background-color", "red");
                        }
                    });
                },
                error: function(response) {
                    debugger;
                    alert('error');
                }
            });
        }, 100);
    });

</script>

<p>
     <a id="addAsc" class="btn btn-sm btn-outline-secondary">Add Ascending Flight</a>
        <a id="addDesc" class="btn btn-sm btn-outline-secondary">Add Descending Flight</a>

  @*  <a class="btn btn-sm btn-outline-secondary" asp-action="AddNewFlight" asp-route-isAsc="@true">Add Ascending Flight</a>
    <a class="btn btn-sm btn-outline-secondary" asp-action="AddNewFlight" asp-route-isAsc="@false">Add Descending Flight</a>*@
</p>
<div class="d-flex justify-content-center">
    <div class="d-flex flex-wrap justify-content-between col-lg-8 col-md-12">
        @foreach (var item in Model)
        {
            var className = "bi bi-" + @item.StationNumber + "-square-fill";
            <div class="card station">
                <div class="card-header d-flex justify-content-center">
                    <i class="@className"></i>
                </div>
                <div class="card-body stationBody d-flex">
                    <p class="card-text flightInStation"></p>
                    <i class="fa-solid fa-plane-circle-xmark"></i>
                </div>
            </div>
        }
    </div>
</div>

